* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 100vh;
  margin-top: 37px;
}

h1 {
  margin-bottom: 30px;
}

h1,
h2 {
  cursor: default;
}

h2 {
  text-align: center;
  width: 90%;
}

form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 15px;
  padding-left: 0;
  margin: 5px 15px;
}

form input {
  width: 100%;
  margin-right: 5px;
  border-style: none;
}

.wrapper {
  width: 90%;
  border: 1px grey solid;
  border-radius: 10px;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 15px;
  margin: 0 15px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  border-bottom: 1px dotted grey;
  padding: 15px 0;
  margin: 0 15px;
}

.fa-solid {
  color: grey;
  background-color: inherit;
  cursor: pointer;
}

.border {
  border-style: none;
  background-color: inherit;
}

.done {
  text-decoration: line-through;
  color: #f00;
}

.clear-btn {
  padding: 15px;
  margin: 15px;
}

.card-text {
  border-style: none;
  width: 90%;
  word-wrap: break-word;
}

.edit-form {
  display: flex;
  border-bottom: 1px dotted grey;
  padding: 15px 0;
  margin: 0 15px;
  justify-content: space-between;
  width: 95%;
}

.check-btn {
  margin-right: 20px;
}

.fa-check:hover {
  color: #44d344;
}

.fa-trash-can:hover {
  color: #f00;
}

.fa-ellipsis-vertical:hover,
.fa-turn-down:hover,
.fa-arrows-rotate:hover {
  text-shadow: 1px 3px 2px hsl(215, 20%, 88%), 0 0 25px blue, 0 0 5px darkblue;
}

.checkbox,
.clear-btn {
  cursor: pointer;
}

.tooltip.tooltiptext {
  width: 160px;
  bottom: 80%;
  left: 40%;
  margin-left: 80px;
}

.tooltip:hover.tooltiptext {
  opacity: 0;
}

@media (max-width: 768px){
  body {
    width: 95%;
  }
}
